<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of fornecedor">
            <div class="col-3">
                <div class="card text-white mb-3">
                    <div class="card-header" style="background-color:#084B8A">{{item.title}}</div>
                    <div class="card-body" style="background-color:#BDBDBD">
                        <h1 class="card-title">{{item.count}}</h1>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>
</div>
